{% extends 'base.html' %}

{% block title %}Add New Menu Item{% endblock %}


{% block content %}
<h1>{{menu.menu_name}}</h1>
<h3>{{menu.menu_description}}</h3>
<div id = 'menu_list'>
{% for item in menu.menu_items %}

<div  class = 'card' style = 'width: 18rem;'>
    <div class = 'card-body'>
        <h5 class='card-title'>{{item.menu_item_name}}</h5>
        <h6 class = 'card-subtitle mb=2 text-muted'>{{item.menu_description}}</h6>
        <h6 class = 'card-subtitle mb=2 text-muted'>{{item.menu_price}}</h6>


</div>
</div>

{% endfor %}
</div>
<aside>
<form  method = 'POST'>
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{field.label}}
        {{field}}

        {% for error in field.error %}
        {{error}}
        {% endfor %}
    </p>
    {% endfor %}
    <button id = 'add_menu_item' data-id = '{{menu.id}}'>Add Item</button>
</form>
</aside>
{% endblock %}